# OS files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Excel / data backups
*.xlsx~
*.xlsm
*.xlsb
*.ods
~$*.xls*
~$*.xlsx

# Raw datasets (if not needed in repo)
data/raw/*
*.csv

# Logs
*.log

# VS Code settings
.vscode/


